<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Add a user</a>
    </div>

    <div class="title">
        <h2>List users</h2>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Email</td>
            <td>Griffin</td>
            <td>$100</td>
            <td>$100</td>

        </tr>
        <tr>
            <td>Name</td>
            <td>Griffin</td>
            <td>$150</td>
            <td>$100</td>

        </tr>
        <tr>
            <td>Joe</td>
            <td>Swanson</td>
            <td>$300</td>
            <td>$100</td>

        </tr>
        <tr>
            <td>Cleveland</td>
            <td>Brown</td>
            <td>$250</td>
            <td>$100</td>

        </tr>
    </table>

</body>

</html>