<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#">News</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
    </div>
    <div class="form">
        <form action="/create-users" method="post">
            <fieldset>
                <legend>form add new Users</legend>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email">
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name">
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city">
                </div>
                <button class="add-users">Save</button>
            </fieldset>
        </form>


    </div>
</body>

</html>